* {
    background-color: #262526;
}

.testimonial {
    color: whitesmoke;
}

.title-avis {
    margin-top: 50px;
    font-weight: 200;
}

.p-avis {
    font-weight: 200;
}

.form-control {
    color: whitesmoke;
 
}
.date {
    color: grey;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

.note-label {
    color: grey;
}

.range {
    color: grey;
}

.btn-custom {
    color: whitesmoke;
    background-color: #D92332;
    margin-bottom: 50px;
}